.laurels {
    padding: 30px 60px;
    background-image: url("../../assets/bg.png");
    background-size: cover;
    position: relative;
    min-height: 80vh;
    display: flex;
    align-items: center;
    font-family: var(--font-base);

    .logolaurels {
        height: 80px;
        width: 80px;
        position: absolute;
        top: 20px;
        left: 20px;
    }

    .wrapper-laurels {
        padding: 30px 60px;
        display: flex;

        .wrapper-left {
            width: 65%;
            display: flex;
            justify-content: center;
            align-items: start;
            gap: 20px;
            flex-direction: column;
            padding: 20px;

            h5 {
                color: white;
                font-size: 16px;
            }

            h1 {
                font-size: 32px;
                color: var(--color-golden);
            }


            .award {
                display: grid;
                justify-content: center;
                align-items: center;
                grid-template-columns: repeat(2 , 1fr);
                gap: 20px;

                .subaward {
                    margin-bottom: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 20px;

                    h3 {
                        font-size: 16px;
                        color: var(--color-golden);
                    }
                    h4 {
                        font-size: 11px;
                        color: rgb(149, 149, 149);
                    }
                    .subawardimage {
                        height: 80px;
                        width: 80px;
                    }
                }

            }
        }
        .wrapper-right {
            width: 35%;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .laurels {

        .award {
            grid-template-columns: repeat(1, 1fr) !important;
        }

        .wrapper-right {
            display: grid;
            place-items: center;

            img {
                width: 300px !important;
                height: 500px !important;
            }
        }
    }
}
@media screen and (max-width: 800px) {
    .laurels {
            padding: 20px 40px;
            .logolaurels {
                display: none;
            }
            .wrapper-laurels {
                padding: 0;
            }
        .award {
            grid-template-columns: repeat(1, 1fr) !important;
        }

        .wrapper-left {
            width: 100% !important;
        }

        .wrapper-right {
            display: grid;
            place-items: center;
            display: none;

            // img {
            //     width: 300px !important;
            //     height: 500px !important;
            // }
        }
    }
}